* {
	margin     :0;
	padding    :0;
	list-style: none;
  text-decoration: none;
	font-family: sans-serif;
}
a:visited {
  color: #ff6388;
  background-color: transparent;
}
.HomeSection {
	width: 100%;
	height: 100vh;
	background: url(https://static.warthunder.com/upload/image/wallpapers/1_85_1920x1080_logo_eng_cde2725c39fc876250e7888fe04d4d04.jpg) no-repeat center top / cover;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
/* Everething about Navigation*/
.HeaderNavigation {
  background: rgba(255,255,255,.90);
	display: flex;
	justify-content: space-around;
	margin:40px 0 0 0;
	z-index: 999;
}
.HeaderNavigation a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #ff6388;
  transition-duration: 0.9s;
}
.nav {
  margin: 5px 0;
	display: flex;
	align-items: center;
	font-size: 1.16rem;
  }
@media screen and (min-width: 801px){
.nav-item:hover,.logo:hover{
  background: red;
}
.HeaderNavigation a:hover {
  color: white;
  }}
.logo {
  margin: 5px 0;
  padding: 10px;
	font-size: 2rem;
  transition-duration: 0.9s;
  border-radius: 4px;
}
.nav-item{
  margin: 0 1px;
  height: 100%;
  display: flex;
  align-items: center;
	font-size: 1.16rem;
	padding: 0 12.5px;
	transition-duration: 0.9s;
  border-radius: 4px;  
}
.nav-toggle, .nav-toggle-label{
  display: none;
}
@media screen and (max-width: 800px){
  :root {
  --background: rgba(255,255,255,.90)
}
.HeaderNavigation {
  top:0;
  margin: 0;
  background: var(--background);
  text-align: center;
  position  : fixed;
  width     : 100%;
  z-index   : 999;
  padding   : 10px 0;
}
.nav {
  margin: 0;
  display: block;
	position        : absolute;
	text-align      : left;
	top             : 100%;
	width           : 100%;
	background      : var(--background);
	transform       : scale(1, 0);
	transform-origin: top;
	transition      : transform 500ms ease-in-out;
}
.nav-item {
 padding: 0 0 15px 17px;
}
.nav a {
  padding: 0 0 0 7px;
  border-left:4px solid #ff6388;
	text-transform: uppercase;
	font-size     : 1.5rem;
	opacity       : 0;
	transition    : opacity 150ms ease-in-out;
}
.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ .nav {
	display  : block;
	transform: scale(1,1);
}
.nav-toggle:checked ~ .nav a{
	opacity   : 1;
	transition: opacity 250ms ease-in-out 150ms;
}
.nav-toggle-label{
	position   : absolute;
	margin     : 0 0 0 1em;
	top        : 0;
	left       : 0;
	height     : 100%;
	display    : flex;
	align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
	display      : block;
	background   : #ff6388;
	height       : 4.5px;
	width        : 2.5em;
	position     : relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
	content :'';
	position: absolute;
}
.nav-toggle-label span::before{
  bottom: 10px;
}
.nav-toggle-label span::after{
  top: 10px;
}
.SingleServices {
  flex-wrap: wrap;
}
}
/**/
/* For flexable effext of Navigation*/
.sticky {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
/**/
/*Home page*/
.Captions {
  text-align      : center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 150px 0 260px 0;
}
.caption1 {
	font-size: 4rem;
	text-transform: uppercase;
	margin:0 0 36px;
}
.caption2 {
	font-size: 1.6rem;
	margin: 0 0 50px;
}
.btnGetStarted {
	font-size: 1rem;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	padding: 18px 42px;
	border-radius: 2px;
	transition-duration: 0.9s;
}
.btnGetStarted:hover {
	background:#ffffff;
	font-weight:bold;
	border: 2px solid #ffffff;
	color: red;
	font-size: 1rem;
}
img {
	position: relative;
}
/**/
/*Sections adjustments*/
.Services .AboutUs .Works .getInTouch .Blog, span{
	height: 2px;
	width:50px;
	background: #555555;
  margin: 25px 0;
}
.Title{
	font-family: 'Montserrat', sans-serif;
	font-size: 20pt;
	text-transform: uppercase;
	font-weight: bold;
}
.Subtitle{
  text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 16pt;
}
.descrTitle {
  margin: 15px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	text-transform: uppercase;
	font-weight: bold;
}
.descr {
	font-family: 'Roboto Slab', serif;
	font-kerning: normal;
	font-size: 14pt;
}
.SectionTitle{
	padding:100px 20px 75px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
/**/
/* SERVICES */
.Services {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:0 0 85px;
	text-align: center;
}
.SingleServices {
	display: flex;
	align-items: center;
	justify-content: center;
}
.SingServices {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-around;  
  height: auto;
  margin: 20px 15px;
  text-align: center;
}
/**/
/*AboutUs*/
.AboutUs {
	background-color: #f8f8f8
}
.TeamMembers{
  display: flex;
  flex-direction: row;
}
.arrows{
  
}
.arrowRight{
  
}
.arrowLeft{
  
}
.Members{
  
}
.member1{
  
}
.member2{
  
}
.member3{
  
}
.member4{
  
}
.social{
  
}
/**/


/*font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif;
line-height:1.235 ;*/

border: 2px solid #ff0a0a;